<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/javascripts/manage.js"></script>
  </head>
  <body>
  <%- include('header'); %>
  <div class="body">
  <section>
    <div class="col-md-4">
    <h1><%= title %></h1>
    </div>
    <div class="col-md-8">
    <h2>Tambahkan Data User</h2>
    <form id="form">
        <div class="col-md-5">
        <input placeholder="Full Name" class="form-control" type="text" name="name" id="name" required>
        </div>
        <div class="col-md-5">
        <input placeholder="Age" class="form-control" type="number" name="age" id="age" min="0" required>
        </div>
        <div class="col-md-2">
        <input type="submit" value="tambahkan" class="btn btn-success" >
        </div>
    </form>
    </div>
    </section>
    <div id="formEdit" style="display: none; padding: 0 20px; clear:both">
            <h2>Edit Data User</h2>
            <form id="editUser">
                <input type="hidden" id="userid" readonly required>
                <div class="col-md-5">
                <input placeholder="Full Name" class="form-control" type="text" name="name" id="ename" required>
                </div>
                <div class="col-md-5">
                <input placeholder="Age" class="form-control" type="number" name="age" id="eage" min="0" required>
                </div>
                <div class="col-md-2">
                <input type="submit" value="simpan ubah" class="btn btn-warning">
                </div>
            </form>
        </div>
        <h2>Welcome to <%= title %> Listing</h2>
        <table class="table table-bordered" id="tabledata">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>aksi</th>
            </tr>
            <% data.forEach(function(users){ %>
                <tr id="<%= users._id %>">
                    <td><%= users._id %></td>
                    <td><%= users.name %></td>
                    <td><%= users.age %></td>
                    <td>
                        <button class="btn btn-default" onclick="editReq('<%= users._id %>')">EDIT DATA</button>
                        <button class="btn btn-danger" onclick="deleteReq('<%= users._id %>')">DELETE</button>
                    </td>
                </tr>
            <% }); %>
        </table>

        
        <div id="kolom"></div>
    </div>
  </body>
  <script></script>
</html>
