<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LEARN NODE JS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <% if(user) { %>
                    <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="/api/users">User Data</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %> 
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>             
                 <% } %>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="body">
        <h1><%= title %></h1>
        <h2>Welcome to <%= title %> Listing</h2>
        <table border="1">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>aksi</th>
            </tr>
            <% data.forEach(function(user){ %>
                <tr>
                    <td><%= user._id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.age %></td>
                    <td>
                        <button onclick="editReq('<%= user._id %>')">EDIT DATA</button>
                        <button onclick="deleteReq('<%= user._id %>')">DELETE REQUEST</button></td>
                </tr>
            <% }); %>
        </table>

        <h2>Tambahkan Data User</h2>
        <form action="http://localhost:7000/api/users" method="post">
            <input type="text" name="name" id="name">
            <input type="number" name="age" id="age" min="0">
            <input type="submit" value="tambahkan">
        </form>
    
        <div id="formEdit" style="display: none;">
            <h2>Edit Data User</h2>
            <form id="editUser">
                <input type="hidden" id="userid" readonly required>
                <input type="text" name="name" id="ename" required>
                <input type="number" name="age" id="eage" min="0" required>
                <input type="submit" onsubmit="" value="simpan ubah">
            </form>
        </div>
        <div id="kolom"></div>
    </div>
  </body>
  <script>
      $(document).ready(function() {
          $(document).on('submit', '#editUser', function() {
              putReq($("#userid").val());
              return false;
          });
      });
      function putReq(id){
        $.ajax({
            type: "PUT",
            url: "http://localhost:7000/api/users/"+id,
            data: {
                name: $("#ename").val(),
                age: $("#eage").val()
            },
            success: function( result ) {
                $("#kolom").html( "<strong>" + JSON.stringify(result) + "</strong>" );
                location.reload();
            },
            error : function(result){
                $("#kolom").html( "<strong>" + JSON.stringify(result) + "</strong>" );
            }
        });
      }
      function deleteReq(id){
        $.ajax({
            type: "DELETE",
            url: "http://localhost:7000/api/users/"+id,
            success: function( result ) {
                $("#kolom").html( "<strong>" + JSON.stringify(result) + "</strong>" );
                location.reload();
            }
        });
      }
      function editReq(id){
        $.ajax({
            type: "GET",
            url: "http://localhost:7000/api/users/"+id,
            success: function( result ) {
                $("#kolom").html( "<strong>" + JSON.stringify(result) + "</strong>" );
                $("#formEdit").show();
                $("#userid").val(result._id);
                $("#ename").val(result.name);
                $("#eage").val(result.age);
            }
        });
      }
  </script>
</html>
